@tailwind base;
@tailwind components;
@tailwind utilities;


/* reset */

  
*, *::before, *::after {

  box-sizing: border-box;

}

* {

  margin: 0;

}

html, body, #root {

  height: 100%;

}

body {

  line-height: 1.5;

  -webkit-font-smoothing: antialiased;

}

img, picture, video, canvas, svg {

  display: block;

  max-width: 100%;

}

input, button, textarea, select {

  font: inherit;

}

p, h1, h2, h3, h4, h5, h6 {

  overflow-wrap: break-word;

}

#root, #__next {

  isolation: isolate;

}

/* base */

body {
    @apply font-serif font-meidum bg-purple-100;
}

/* fonts */

@font-face {
    font-family: 'Quicksand';
    src: url('/public/fonts/quicksand-500.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/public/fonts/quicksand-700.woff2');
    font-weight: 700;
    font-style: normal;
}
